@font-face {
  font-family: 'Montserrat';
  src: url('../assets/Montserrat/static/Montserrat-Regular.ttf');
}

* {
  text-shadow: initial;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  
  body {
    color: white;
    background: black;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Montserrat, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #000000;
}

.main-navbar  {
  padding-top: 18px;
  padding-bottom: 17px;
  padding-right: 24px;
  padding-left: 24px;
}

.main-navbar a.nav-link {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding: 9px 15px !important;
}

.main-navbar a.nav-link:active, a.nav-link:visited {
  font-weight: 600;
}

.main-navbar a.nav-link[href="#women"] {
  padding-left: 15px;
}

.main-navbar button {
  height: 35px;
  width: 110px;
  left: 1307px;
  top: 18px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}

.sub-nav-bar {
  background: #e5e5e5;
}

.sub-nav-bar a.nav-link {
  color: #000000;
  font-size: 12px;
  line-height: 15px;
}

.sub-nav-bar span {
  padding-right: 15px;
  vertical-align: middle;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 15px;
}

.home-deals {
  text-transform: uppercase;
  padding-top: 45px;
  padding-bottom: 45px;
}

.home-deals .amount {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
  padding-right: 20px;
}

.home-deals .off {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  vertical-align: super;
}

.home-deals .description {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
}

.home-deals .deals-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-deals .deals-button-container button {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0;
}